.page-nav-bar {
    background: linear-gradient(to right, rgb(119, 68, 255), rgb(50, 150, 250), rgb(119, 68, 255));
}

.page-nav-bar-register {
    background-color: #ff6034;
}

.page-nav-bar .van-nav-bar__title {
    color: white;
}

.gradient-button {
    background: linear-gradient(to right, #ff6034, #ee0a24) !important;
    border-color: transparent !important;
    color: white;
}

.error-message {
    color: red;
    font-size: small;
    text-indent: 3em;
}

.my-swipe .van-swipe-item {
    line-height: 200px;
    text-align: center;
}

img {
    width: 100%;
}

.van-nav-bar__text,
.van-nav-bar .van-icon {
    color: white;
}

.footer {
    width: 100%;
    text-align: right;
}

.footer a {
    text-decoration: none;
    font-size: small;
    margin-right: 40px;
}

.notice-swipe {
    height: 40px;
    line-height: 40px;
}

.flex {
    display: flex;
    width: 100%;
}

.topInfo {
    align-items: center;
    background-color: #fff;
    border-radius: 24px;
}

.arrart {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.personCompany {
    position: absolute;
    top: 100px;
    font-size: 0.4rem;
    width: 2rem;
    height: 0.5rem;
    text-align: center;
    background: #333440;
    border-radius: 50px;
    color: #ffdd99;
    padding: 5px 4px;
    line-height: 40px;
}

.content-left {
    padding: 20px;
}

.content-right {
    width: 4rem;
    align-items: center;
    padding-left: 0.5rem;
    font-size: 0.5rem;
    background: linear-gradient(to right, rgb(50, 150, 250), rgb(119, 68, 255));
    color: #ffdd99;
    border: 0px;
    border-radius: 50px;
}